Ch_12/scratchpy.py
Ch_12/selenium/tempCodeRunnerFile.py
geckodriver.log
Ch_13/example.xlsx
Ch_13/ch13_scratch.py
Ch_13/produceSold.xlsx
Ch_13/myFilesToExcel.xlsx
Ch_16/example.csv
Ch_16/exampleWithHeader.csv
Ch_16/output.csv
Ch_16/pathpractice.py
Ch_16/fancy_xlsx2csv.py
hello.txt
credentials.json
token.json
Ch_18/gmail_credentials.py
Ch_18/tempCodeRunnerFile.py
Ch_18/__pycache__/gmail_credentials.cpython-38.pyc
Ch_13/xlxsSecretSorter.py
